{{ partial "head" . }}

{{if ne .Site.Params.singleViewStyle "casper"}}

<body class="ctsingle">
  {{else}}

  <body class="page-template">{{end}}
    <div class="site-wrapper">

      {{if ne .Site.Params.singleViewStyle "casper"}}{{ partial "header" . }}
      {{else}}{{ partial "header-sori" . }}{{end}}


      <main id="site-main" class="site-main outer" role="main">
        <div class="inner">
          {{if ne .Site.Params.singleViewStyle "casper"}}
          <div class="post-feed">
            {{ partial "page-single" . }}
          </div>
          {{else}}
          {{ partial "page-single-sori" . }}
          {{end}}
        </div>
      </main>

      {{ partial "footer" . }}
    </div>{{ partial "js" . }}</body>

  </html>