{{ partial "head" . }}

{{if eq .Site.Params.singleViewStyle "casper"}}
  <body class="error-template"><div class="site-wrapper">
  {{ partial "header-sori-error" . }}
{{else}}
  <body class="home-template"><div class="site-wrapper"> 
  {{ partial "header" . }}
{{end}}

<main id="site-main" class="site-main outer" role="main">
  <div class="inner">

 

  </div>
</main>

{{if eq .Site.Params.singleViewStyle "casper"}}
<aside class="outer">
  <div class="inner">
    <div class="post-feed">
      {{ partial "post-list-term" . }}
    </div>
  </div>
</aside>
{{end}}

{{ partial "footer" . }}
</div>{{ partial "js" . }}</body></html>