{{ partial "head" . }}

{{if eq .Site.Params.singleViewStyle "casper"}}

<body class="tag-template">
  <div class="site-wrapper">
    {{ partial "header-sori-tag" . }}
    {{else}}

    <body class="home-template">
      <div class="site-wrapper">
        {{ partial "header" . }}
        {{end}}

        <main id="site-main" class="site-main outer" role="main">
          <div class="inner">
            <div class="post-feed">
              {{ partial "post-list" . }}
            </div>

            <nav class="pagination" role="navigation">
              {{if .Paginator.HasPrev}}
              <a class="newer-posts" href="{{ .Paginator.Prev.URL }}">&larr; <span class="hide">Next Posts</span></a>
              {{end}}
              <span class="page-number"><span class="hide">Page {{ .Paginator.PageNumber }} of
                  {{.Paginator.TotalPages}}</span>&nbsp;</span>
              {{if .Paginator.HasNext}}
              <a class="older-posts" href="{{ .Paginator.Next.URL }}"><span class="hide">Previous Posts</span>
                &rarr;</a>
              {{end}}
            </nav>
          </div>
        </main>

        {{ partial "footer" . }}
      </div>{{ partial "js" . }}
    </body>

    </html>