<footer class="site-footer outer">
  <div class="site-footer-content inner">
    <section class="copyright" style="line-height: 1.3em;">
      <a href="/">{{.Site.Params.orgName}}</a> {{.Site.Params.copyright}}
      <br> {{with .Site.Params.showSupport}}
      <span style="font-size: 0.8em; color: #555;">Hugo port of
        <a href="https://github.com/TryGhost/Casper">Casper 2.1.7</a> by
        <a href="https://www.telematika.org">EM</a>
      </span>{{end}}
    </section>
    <nav class="site-footer-nav">

      <a href="https://duh.netlify.com">Blog</a>
      <a href="https://arpecop.xyz">Вицове</a>
      <a href="https://freeteenpicsandmovies.netlify.app">Free teen pics</a>
      <a href="https://rudixlab.com">DevOps Bulgaria</a>
      <a href="https://noticiasti.xyz">Noticias TI</a>
      <a href="https://novinata.netlify.app/">Новини</a>
      <a href="https://news.rudixlab.com/">Новини 2</a>
      <a href="https://bigblog.netlify.app/">Big Blog</a>

    </nav>
  </div>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-29127191-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-29127191-2');
  </script>
  <script type="text/javascript">
    (sc_adv_out = window.sc_adv_out || []).push({
      id: "515457",
      domain: "n.pc5ads.com"
    });
  </script>
  <script type="text/javascript" src="//st-n.pc5ads.com/js/a.js" async></script>
</footer>