<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}" />

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{{ if .IsHome }}{{ .Title }}{{ else }}{{.Params.mitle}}{{ end }}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ "favicon.ico" | absURL}}" />
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ if .IsPage }}
    <meta name="description" content="{{ .Description | default (substr .Summary 0 160) }}" /> {{ else }}
    <meta name="description" content="{{ .Site.Params.metadescription | default .Site.Params.description }}" />
    {{ end }}
    {{ partial "meta-facebook" . }}
    {{ .Hugo.Generator }}
    {{ "<!-- Stylesheets -->" | safeHTML }}
    <link rel="stylesheet" type="text/css" href="{{ "built/screen.css" | absURL}}" />
    <link rel="stylesheet" type="text/css" href="{{ "css/casper-two.css" | absURL}}" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css" />
    {{ range .Site.Params.customCSS }}
    <link rel="stylesheet" href="{{ . | absURL }}" /> {{ end }}
</head>