<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title"
    content="{{ if ne .URL "/" }}{{ .Params.mitle }} &middot; {{ end }}{{ .Site.Params.Title }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{if .Site.Params.fbName}}
<meta property="article:publisher" content="https://www.facebook.com/{{.Site.Params.fbName}}" />{{end}}
{{ if .IsPage }}
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ .Description  | default (substr .Summary 0 160) }}" />

<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" />
{{ range .Params.tags }}
<meta property="article:tag" content="{{ . }}" />{{ end }}
{{ else }}
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ .Site.Params.description }}" />
{{ end }}{{if .Params.image }}
<meta property="og:image" content="{{ .Params.image | absURL}}" />
{{else}}{{if .Site.Params.cover}}
<meta property="og:image" content="{{ .Site.Params.cover | absURL}}" />{{end}}{{end}}