<article class="post-full post page no-image">
    <section class="post-full-content">

        <h1 class="post-full-title">{{.Title | title}}</h1>
        <div class="kg-card-markdown">
            {{ .Content }}
        </div>
        <div id="SC_TBlock_494994"></div>
        <script type="text/javascript">
            (sc_adv_out = window.sc_adv_out || []).push({
                id: "494994",
                domain: "n.ads5-adnow.com",
                no_div: false
            });
        </script>
        <script async type="text/javascript" src="//st-n.ads5-adnow.com/js/a.js"></script>
    </section>
</article>
<div>
    <h2>Links</h2>
    <a href="https://duh.netlify.com" style="margin-left: 15px;">Blog</a>
    <a href="https://freeteenpicsandmovies.netlify.app" style="margin-left: 15px;">Free teen pics</a>
    <a href="https://rudixlab.com" style="margin-left: 15px;">DevOps Bulgaria</a>
    <a href="https://novinata.netlify.app/" style="margin-left: 15px;">Новини</a>
    <a href="https://news.rudixlab.com/" style="margin-left: 15px;">Новини 2</a>
    <a href="https://bigblog.netlify.app/" style="margin-left: 15px;">Big Blog</a>
</div>