<article class="post-full post">
    <section class="post-full-content">
        <div class="kg-card-markdown">
            <h1 class="post-full-title">{{.Params.mitle}}</h1>
            {{ .Content }}
            <div id="SC_TBlock_494994"></div>
            <script type="text/javascript">
                (sc_adv_out = window.sc_adv_out || []).push({
                    id: "494994",
                    domain: "n.ads1-adnow.com",
                    no_div: false
                });
            </script>
            <script async type="text/javascript" src="//st-n.ads1-adnow.com/js/a.js"></script>
        </div>
    </section>
</article>